html {
  font-family: 'Sailec', sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  width: 580px;
  height: 246px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

h1 {
  font-family: 'Sailec';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #0d2b50;
}
