.tasks {
  margin-top: 44px;
  margin-right: 73px;
  margin-left: 80px;
}

.tasks .tasks__label + .tasks__label {
  margin-top: 10px;
}

.tasks .tasks__label {
  font-family: 'Sailec';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(13, 43, 80, 0.7);
  position: relative;
  padding-left: 20px;
  &::after {
    content: '%';
    position: absolute;
    left: 97%;
  }
  & .tasks__label--span {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    position: absolute;
    left: 0%;
  }
  & .tasks__label--design {
    background: #fc895b;
  }
  & .tasks__label--paceport {
    background: #ff268b;
  }
  & .tasks__label--sprints {
    background: #b71bba;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  font-family: 'Sailec';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 24px;
  border: none;
  background: #ebebeb;
  border-radius: 4px;
  color: rgba(13, 43, 80, 0.7);
  padding: 0;
  margin: 0;
}
