.wrapper {
  position: relative;
  width: 420px;
  height: 4px;
}

.wrapper_label {
  position: absolute;
  width: 100%;
  height: 4px;
}

.wrapper_label:nth-child(2) {
  width: 100%;
  height: 4px;
}

.wrapper_label:nth-child(2) input[type='range'] {
  width: 100%;
}
